@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body
{
    background: rgb(251, 250, 250);
    color: rgb(0, 0, 0);
    margin: 0;
    font-family: 'Poppins';
}

.navbar
{
 background: rgba(89, 72, 181, 0.402);   
 color: white;
 padding: .5%;

    .logo 
    {
        text-decoration: none;
        font-weight: bold;
        font-size: 1.2em;
        color : #1E6B52;

        span
        {
            color: #FFD602;
        }
    }

    nav
    {
        display: flex;
        justify-content: space-between;
        position: unset;
        height: auto;
        width: 100%;
        padding: 0;
    }

    .container
    {
        display: grid;
        grid-template-columns: auto;
        place-content: space-between;

    }

}

