@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@media only screen and (min-width: 50em) {
  .site-content {
    margin-top: 0em;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Poppins:wght@300&display=swap');

body {
  font-family: poppins, sans-serif;  
  margin: 0px;
}

nav {
  background-color: #144b3981;
  padding: 10px;
  width: 100%;
  position: sticky;
  top: 0px;
  min-height: 5vh;

}

nav a {
  color: white;
  text-decoration: none;
  margin: 0px 20px;
  margin-right: 30px;
  font-size: 1.3em;
  float: left;

  display: block;
}


nav a:hover {
  background-color: #ffd50281;
}


section {
  min-height: 75vh;
}

section#header {
  background: url("/images/bluebonnets.jpg") repeat fixed 100%;
  background-repeat: no-repeat;
  background-size: cover;
  color: #f5f4f7;
  min-height: 100vh;

  h2 
  {text-align: center;
    padding: 40px 0px 0px 0px;
    font-size: 4em;}

  p 
  {font-size: 2em;
    text-align: center;}

}


section#about-me {
  background: #719f9f80;
  color: black;
}

section#previous-work {
  background: #719f9f37;
  color: black;
}

section#contact-me {
  background-color: #719f9f80;
  color: black;
}

article {
  width: 90%;
  max-width: 600px;
  padding: 20px;
  margin: 0px auto;
}

h2 {
  text-align: center;
  padding: 40px 0px 0px 0px;
  font-size: 2em;
}

p {
  font-size: 1.5em;
  text-align: center;
}

@media
(prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

@media screen and (max-width: 800px) {
  body {
    font-size: 14px;
  }
}

@media screen and (max-width: 600px) {
  body {
    font-size: 11px;
  }
}