@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Poppins:wght@300&display=swap");
@media only screen and (min-width: 50em) {
  .site-content {
    margin-top: 0em;
  }
}

body {
  font-family: poppins, sans-serif;
  margin: 0px;
}

nav {
  background-color: #144b3981;
  padding: 10px;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  min-height: 5vh;
  z-index: 1;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0px 20px;
  margin-right: 30px;
  font-size: 1.3em;
  float: left;
  display: block;
}

nav a:hover {
  background-color: #ffd50281;
}

section#header {
  background: url("/images/bluebonnets.jpg") repeat fixed 100%;
  background-repeat: no-repeat;
  background-size: cover;
  color: #f5f4f7;
  min-height: 85vh;
  margin: 0;
  padding: 20px 0;
  margin: 0;
}

section#header h2 {
  text-align: center;
  padding: 50px 0px 0px 0px;
  font-size: 4em;
}

section#header p {
  font-size: 2em;
  text-align: center;
}

section#about-me {
  background: #719f9f80;
  color: black;
  padding-top: 20px;
  /* Fills in the white space between sections*/
  min-height: 75vh;
}

section#about-me img {
  float: left;
  max-width: 13%;
  margin-left: 2%;
  border-radius: 50%;
  border: 1px solid white;
}

section#about-me h2 {
  float: center;
  margin-left: 44vw;
  margin-top: 2%;
}

section#about-me p {
  margin-left: 20%;
  font-size: 1.2em;
}

section#previous-work {
  background: #719f9f37;
  color: black;
  padding-top: 20px;
  /* Fills in the white space between sections*/
  padding-bottom: 7%;
}

section#previous-work h2 {
  margin-left: 44vw;
  margin-top: 2%;
}

section#previous-work .upper-row {
  min-height: 60vh;
  /*
      img 
      {
          margin-top: 5%;
          border: 7px solid black;
          width: 37vh;
          height: 50vh;
      }
      */
}

section#previous-work .upper-row ul {
  list-style: none;
  min-width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  /* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
  /* This container is needed to position the front and back side */
  /* Do an horizontal flip when you move the mouse over the flip box container */
  /* Position the front and back side */
  /* Style the front side (fallback if image is missing) */
  /* Style the back side */
}

section#previous-work .upper-row ul .flip-card {
  background-color: transparent;
  width: 86%;
  height: 50vh;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  /* Remove this if you don't want the 3D effect */
}

section#previous-work .upper-row ul .flip-card img {
  margin-top: 5%;
  border: 7px solid black;
  width: 37vh;
  height: 50vh;
}

section#previous-work .upper-row ul .flip-card-inner {
  position: relative;
  text-align: center;
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

section#previous-work .upper-row ul .flip-card:hover .flip-card-inner {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

section#previous-work .upper-row ul .flip-card-front, section#previous-work .upper-row ul .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
}

section#previous-work .upper-row ul .flip-card-front {
  background-color: #bbb;
  color: black;
}

section#previous-work .upper-row ul .flip-card-back {
  background-color: dodgerblue;
  color: white;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.lower-row {
  min-height: 60vh;
  /*
      img 
      {
          margin-top: 5%;
          border: 7px solid black;
          width: 37vh;
          height: 50vh;
      }
      */
}

.lower-row ul {
  list-style: none;
  min-width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  /* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
  /* This container is needed to position the front and back side */
  /* Do an horizontal flip when you move the mouse over the flip box container */
  /* Position the front and back side */
  /* Style the front side (fallback if image is missing) */
  /* Style the back side */
}

.lower-row ul .flip-card {
  background-color: transparent;
  width: 86%;
  height: 50vh;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  /* Remove this if you don't want the 3D effect */
}

.lower-row ul .flip-card img {
  margin-top: 5%;
  border: 7px solid black;
  width: 23vw;
}

.lower-row ul .flip-card-inner {
  position: relative;
  text-align: center;
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.lower-row ul .flip-card:hover .flip-card-inner {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.lower-row ul .flip-card-front, .lower-row ul .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
}

.lower-row ul .flip-card-front {
  background-color: #bbb;
  color: black;
}

.lower-row ul .flip-card-back {
  background-color: dodgerblue;
  color: white;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

section#contact-me {
  background-color: #719f9f80;
  color: black;
  padding-top: 20px;
  min-height: 50vh;
}

section#contact-me h2 {
  margin-left: 44vw;
  margin-top: 2%;
}

section#contact-me ul {
  margin-left: 8%;
  list-style: none;
  min-width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
}

section#contact-me ul img {
  margin-top: 5%;
  width: 45%;
  height: 80%;
}

p {
  font-size: 1.5em;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

@media screen and (max-width: 800px) {
  body {
    font-size: 14px;
  }
}

@media screen and (max-width: 600px) {
  body {
    font-size: 11px;
  }
}
/*# sourceMappingURL=main.css.map */